
*.pyc

*.log

out-parameters\.txt

local_settings\.py

track_bash\.sh

idtrackerai_gui\.egg-info/dependency_links\.txt

idtrackerai_gui\.egg-info/PKG-INFO

idtrackerai_gui\.egg-info/requires\.txt

idtrackerai_gui\.egg-info/SOURCES\.txt

idtrackerai_gui\.egg-info/top_level\.txt
